{% extends 'base.html' %}


{% block title %}SnailPass{% endblock %}

{% block table_margin %}style="margin-top: 3%;"{% endblock %}



{% block heading %}
Welcome to Snail<span style="color: #56a4ff">Pass</span>!</h1>
{% endblock %}

{% block content %}

<tr>
  <td align="left" bgcolor="#222529"
    style="padding: 24px; font-family: 'JetBrains Mono'; font-size: 13px; line-height: 24px;">
    <p style="margin: 0; color: #ffffff">You are just one click away from getting started with SnailPass. All
      you need to do
      is verify your email address to activate your SnailPass account.</p>
  </td>
</tr>
<!-- end copy -->

<!-- start button -->
<tr>
  <td align="left" bgcolor="#222529">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td align="center" bgcolor="#222529" style="padding: 12px;">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center" bgcolor="#686a6d" style="border-radius: 6px;">
                <a href="{{ confirm_url }}" target="_blank"
                  style="display: inline-block; padding: 16px 36px; font-family: 'JetBrains Mono'; font-size: 13px; color: #ffffff; text-decoration: none; border-radius: 6px;">Confirm
                  My Email</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- end button -->

<!-- start copy -->
<tr>
  <td align="left" bgcolor="#222529"
    style="padding: 24px; font-family: 'JetBrains Mono'; font-size: 13px; line-height: 24px; border-bottom: 3px solid #37393e">
    <p style="margin: 0; color: #ffffff">Once your account is activated, you can start using all of SnailPass
      features to
      securely store and organize your passwords and other sensetive data.</p>
    <br>
    <p style="margin: 0; color: #ffffff">You’re receiving this email because you recently created a new
      SnailPass account. If this wasn’t you, please ignore this email. Confirmation link will expire in an
      hour.</p>
  </td>
</tr>

{% endblock %}