{% extends 'base.html' %}


{% block title %}SnailPass | Email confirmation{% endblock %}

{% block table_margin %}style="margin-top: 8%;"{% endblock %}



{% block heading %}
Email confirmed <span style="color: rgb(12, 167, 63)">successfully</span>!</h1>
{% endblock %}

{% block content %}
<!-- start copy -->
<tr>
    <td align="center" bgcolor="#222529" style="font-size: 80px">
        <span class="mdi mdi-check" style="color:rgb(12, 167, 63)">
    </td>
</tr>
<!-- end copy -->

<!-- start copy -->
<tr>
    <td align="center" bgcolor="#222529"
        style="padding: 24px; font-family: 'JetBrains Mono'; font-size: 13px; line-height: 24px; padding-top: 0%;">
        <p style="margin: 0; color: #ffffff"> Now you will be able to sign in.<br>Go ahead and
            start
            moving your passwords and other sensitive info from your head, paper or other services
            to
            SnailPass.<br>Trust us, you won't be disappointed.</p>
    </td>
</tr>
<!-- end copy -->
{% endblock %}