{% extends 'base.html' %}


{% block title %}SnailPass | Email confirmation{% endblock %}

{% block table_margin %}style="margin-top: 10%;"{% endblock %}



{% block heading %}
Email <span style="color: rgb(12, 167, 63)">already</span> confirmed!</h1>
{% endblock %}

{% block content %}
<!-- start copy -->
<tr>
    <td align="center" bgcolor="#222529" style="font-size: 80px">
        <span class="mdi mdi-check" style="color:rgb(12, 167, 63)">
    </td>
</tr>
<!-- end copy -->

<!-- start copy -->
<tr>
    <td align="center" bgcolor="#222529"
        style="padding: 24px; font-family: 'JetBrains Mono'; font-size: 13px; line-height: 24px; padding-top: 0%;">
        <p style="margin: 0; color: #ffffff"> It looks like you've done it before.<br> Just sign in
            and
            continue using trustworthy services by SnailPass.</p>
    </td>
</tr>
{% endblock %}