{% extends 'base.html' %}


{% block title %}SnailPass{% endblock %}

{% block table_margin %}style="margin-top: 5%;"{% endblock %}



{% block heading %}
Welcome to Snail<span style="color: #56a4ff">Pass</span>!</h1>
{% endblock %}

{% block content %}

<tr>
    <td align="left" bgcolor="#222529"
        style="padding: 24px; font-family: 'JetBrains Mono'; font-size: 13px; line-height: 24px;">
        <p style="margin: 0; color: #ffffff" align="left">You have landed on the official site and API of SnailPass,
            opensource password manager.<br><br>Please note that the client applications and project as a whole are
            still in
            development and can only be
            used at your own risk. We take security seriously, but we cannot guarantee that the system is free of all
            vulnerabilities.<br><br>
            To download client applications and check out the code, please visit our repository links below. We will be
            updating this page
            with documentation and a project description soon, so please check back for more information.<br><br>
        </p>
    </td>
</tr>

{% endblock %}