{% extends 'base.html' %}


{% block title %}SnailPass API{% endblock %}

{% block table_margin %}style="margin-top: 5%;"{% endblock %}



{% block heading %}
Snail<span style="color: #56a4ff">Pass</span> API</h1>
{% endblock %}

{% block content %}

<tr>
    <td align="left" bgcolor="#222529"
        style="padding: 24px; font-family: 'JetBrains Mono'; font-size: 13px; line-height: 24px;">
        <p style="margin: 0; color: #ffffff" align="left">You have landed on the API of SnailPass,
            opensource password manager. Our landing page is <a href="https://snailpass.pro"
                style="color: #56a4ff">here</a>.

        </p>
    </td>
</tr>

{% endblock %}