{% extends 'base.html' %}


{% block title %}SnailPass | Email confirmation{% endblock %}

{% block table_margin %}style="margin-top: 9%;"{% endblock %}



{% block heading %}
Email confirmation <span style="color: rgb(179, 6, 6)">failed</span>!</h1>
{% endblock %}

{% block content %}

<!-- start copy -->
<tr>
    <td align="center" bgcolor="#222529" style="font-size: 80px">
        <span class="mdi mdi-alpha-x" style="color: rgb(179, 6, 6)">
    </td>
</tr>
<!-- end copy -->

<!-- start copy -->
<tr>
    <td align="center" bgcolor="#222529"
        style="padding: 20px; font-family: 'JetBrains Mono'; font-size: 13px; line-height: 24px; padding-top: 0%;">
        <p style="margin: 0; color: #ffffff"> Email confirmation failed because your account no
            longer exists.<br>
            Perhaps you want to sign up again?<br> Open up one of our clients and go ahead.
        </p>
    </td>
</tr>
<!-- end copy -->
</tr>
{% endblock %}